#include "Pingiel3D.h"

PINGIEL_ICON ICON "pliki\ikona.ico"

PINGIEL_MENU MENU
BEGIN
POPUP "&PLIK"
	BEGIN
	POPUP "&INNE"
		BEGIN
		MENUITEM "POKAZ",ID_MENU_WINSHOW,CHECKED
		END
	MENUITEM SEPARATOR
	MENUITEM"EXIT",ID_MENU_EXIT
	END
POPUP"&POMOC"
	BEGIN
	MENUITEM"O PROGRAMIE",ID_MENU_ABOUT
	END
END
